body{
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  overflow: hidden;
  background-size:cover;
}
.container{
  width: 40em;
  height: 40em;
  position: relative;
  font-size: 10px;
}
.sun{
  position: absolute;
  top: 15em;
  left: 15em;
  width: 20em;
  height: 20em;
  border-radius: 50%;
  background-image: url(./sun.gif);
  background-size: cover;
  box-sizing: border-box;
  border: 20px solid black;
}
.earth, .moon{
  position: absolute;
  border-style: solid;
  border-color: white transparent transparent transparent;
  border-width: 0.1em 0.1em 0em 0em ;
  border-radius: 50%;
}
.earth{
  top: 5em;
  left: 5em;
  width: 40em;
  height: 40em;
  animation: orbit 36.5s linear infinite;
}
.moon{
  top: 0;
  right: 0;
  width: 12em;
  height: 12em;
  animation: orbit 2.7s linear infinite;
}

.earth::before, .moon::before{
  content: "";
  position: absolute;
  border-radius: 50%;
}
.earth::before{
  top: 2.6em;
  right: 2.6em;
  width: 7em;
  height: 7em;
  background-image: url(./earth.jpg);
  background-size: cover;
  animation: orbit 2s linear infinite;

}
.moon::before{
  top: 1em;
  right: 0em;
  width: 30px;
  height: 25px;
  background-color: silver;
  background-image: url(./moon.png);
  background-size: cover;
}

@keyframes orbit{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
